<!doctype html>
<html>
    <head>
        <tile>First App</title>
		<!-- Carregando o CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	<!--Importando a macro criada com o Jinja2 -->
	{% from "_formhelpers.html" import render_field %}
	<div>Qual seu nome?</div>
	<form method=post action="/hello">
	<!-- Renderizando o formulario criado em app.py-->
	<dl>
		{{ render_field(form.sayhello) }}
	</dl>
	<!--Criando um botão de submit-->
	<input type=submit value='Say Hello' name='submit_btn'>
	</form>
    </body>
</html>
